    <div class="sidebar" data-color="purple" data-image='<%= image_path('light_bootstrap_dashboard/sidebar-5.jpg') %>'>

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <%= link_to "DropQue", root_path%>
            </div>

            <ul id="nav" class="nav">
                <li class="active">
                    <a id="show_profile" href="#">
                        <i class="pe-7s-graph"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a id="show_scheduled" href="#">
                        <i class="pe-7s-user"></i>
                        <p>Scheduled Interviews</p>
                    </a>
                </li>
                <li>
                    <a id="show_previous" href="#">
                        <i class="pe-7s-note2"></i>
                        <p>Previous Interviews</p>
                    </a>
                </li>

                <li class="active-pro">
                    <a href="http://playstore.com">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to the DropQue App</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>