
    <div class="sidebar" data-color="purple" data-image='<%= image_path('light_bootstrap_dashboard/sidebar-5.jpg') %>'>

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <%= link_to "DropQue", root_path%>
            </div>

            <ul id="nav" class="nav">

                <li class="active">
                    <%= link_to company_path(id: @company.id) do%>
                        <i class="pe-7s-graph"></i>
                        <p>Jobs Space</p>
                    <% end %>
                </li>

                <li>
                    <%= link_to company_jobs_path(@company) do%>
                        <i class="pe-7s-graph"></i>
                        <p>Assessments</p>
                    <% end %>
                </li>
                <li>
                    <a id="show_analytics" href="#">
                        <i class="pe-7s-note2"></i>
                        <p>Analytics</p>
                    </a>
                </li>


                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>