<% @jobs.each do |job| %>
    <li><%= link_to job.title, company_job_path(id: job.id, company_id: @company.id) %></li>
<% end %>

<%= form_for(@job, url: company_jobs_path(@company.id)) do |f| %>
    <%= render "jobs/form", :job => @job, f: f %>
<% end %>